<ion-view view-title="{{ 'mm.courses.analytics' | translate }}">
    <ion-content padding=" true">

        <h2>Users Activities</h2>

        <!--<canvas id="barChart" width="600" height="400"></canvas>
        <canvas id="myChart" width="600" height="400"></canvas>-->

        <div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto">Placeholder for chart</div>
        <div id="barchar" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto">Placeholder for chart</div>
        <div id="piechart" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto">Placeholder for chart</div>
        <!--
        <div id="dynamic"></div>
        <button id="plain">Plain</button>
        <button id="inverted">Inverted</button>
        <button id="polar">Polar</button>-->

    </ion-content>
</ion-view>