<ion-view view-title="{{ 'mm.educaper.dashboard' | translate }}">

    <ion-content padding="true">



        <!--<div id="container" style="min-width: 310px; max-width: 
        400px; height: 300px; margin: 0 auto"></div>-->
        <!-- info boxes head -->
        <!--

        <div class="block-level drop-shadow.right">
            <h5>FEEDBACKS</h5>
            <h4 style="font-weight:bolder;">1035</h4>
            <!--<i id="icon-style" class="icon ion-android-favorite-outline"></i>-->
        <!--</div>-->

        <!--<div class="block-level drop-shadow.bottom">
            <h5>CLASSES</h5>
            <h4 style="font-weight:bolder;">10</h4>
            <!--<i id="icon-style" class="icon ion-compose"></i>-->
        <!--</div>

        <div class="block-level drop-shadow.left">
            <h5>STUDENTS</h5>
            <h4 style="font-weight:bolder;">130</h4>
        </div>-->





        <!--<div class="col">
            <div class="card" style="border-radius:5px; border-style: solid; border-width: 3px 0px 0px 0px;border-color:#d2d6de;">
                <div class="item item-divider" style="background-color:white;">
                    Trends
                </div>
                <div class="item item-text-wrap">
                    <div id="container">Placeholder for chart</div>
                </div>
            </div>
        </div>-->

        <div class="row">
            <h4 class="col block-dash"> <span> {{Courselength}} </span> Courses</h4>
            <h4 class="col block-dash"> <span> 7</span> Students</h4>
        </div>
        <div class="row">
            <h4 class="col block-dash"> <span> 4</span> Categories</h4>
            <h4 class="col block-dash"> <span> 4 </span> Modules</h4>


        </div>
        <div class="row">
            <h4 class="col block-dash"> <span> 2</span> Professor</h4>
            <h4 class="col block-dash"> <span> 2</span> Managers</h4>

        </div>
        <div id="container" style="width: 400px; height: 300px; margin: 0 auto">chart</div>

        <div id="piechart" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto">Placeholder for chart</div>

    </ion-content>
</ion-view>