<ion-view view-title="{{ 'mm.courses.mycourses' | translate }}">
    <ion-content>
        <div ng-repeat="course in courses " class="list card">
            <a class="item item-icon-right" title="{{course.fullnme}}">
                <h2>
                    <mm-format-text watch="true">{{course.fullname}}</mm-format-text>
                </h2>
                <i class="icon icon-accessory ion-chevron-right"></i>
            </a>
            <div class="item mm-course-handlers" ng-show="(course._handlers && course._handlers.length) || !areNavHandlersLoadedFor(course.id)">
                <div class="item tabs tabs-icon-top" ng-show="course._handlers && course._handlers.length">
                    <a ng-repeat="handler in course._handlers | orderBy:'-priority'" ng-controller="handler.controller" ng-click="action($event, course)" class="tab-item active mm-courses-handler {{class}}" title="{{title | translate}}">
                        <i class="icon {{icon}}"></i> {{title | translate}}
                    </a>
                </div>
                <div class="mm-loading-course-handlers text-center" ng-if="!course._handlers || !course._handlers.length">
                    <ion-spinner></ion-spinner>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>