<ion-view cache-view="false" view-title="{{pagetitle}}">

	<ion-content padding="true" ng-hide="Educaper">
		<h3 class="welcome"> Hello {{User.name}} Welcome To Educaper First Mockup Demo </h3>
		
		<div class="list">
			<label class="item item-input">
				<i class="icon ion-search placeholder-icon"></i>
				<input type="text" placeholder="Filter" ng-model="filterText">
			</label>
		</div>
		<div class="list card" ng-repeat="course in courses | filter:{name: filterText}">
			<a class="item" ui-sref="site.sections">
               {{course.name}}
            </a>
			<div class="item item-text-wrap">
				<p>{{course.desc}}</p>
			</div>
			<div class="item tabs tabs-icon-left">
				<a class="tab-item active" ui-sref="site.sections"><i class="icon ion-briefcase"></i>Contents</a>
				<a class="tab-item active" ui-sref="site.grades"><i class="icon ion-stats-bars"></i>Grades</a>
				<a class="tab-item active" ui-sref="site.participants({courseid: course.id})">
					<i class="icon ion-person-stalker"></i>Participants</a>
			</div>
		</div>
	</ion-content>

	<ion-content padding="true" ng-show="Educaper" ng-controller="EducaperCtrl">

		<h3 class="welcome"> Hello {{User.name}} Welcome To Educaper First Mockup Demo </h3>
		<h3 class="tname"> you logged in as : {{User.role}}</h3>


		<p>for better diplaying experience we recommand using a tablet or the website !!</p>

		<div>
			<div google-chart chart1="accuracy" style="{{accuracy.style}}">
			</div>
		</div>

		<div class="row">

			<div class="preview-chart col" ng-controller="ClassClimateCtrl">
				<div class="prevtext">{{name}}</div>
				<pie-chart data="data" options="options"></pie-chart>
			</div>

			<div class="preview-chart col" ng-controller="pedeffectivenessCtrl">
				<div class="prevtext">{{name}}</div>
				<pie-chart data="data" options="options"></pie-chart>
			</div>

			<div class="preview-chart col" ng-controller="ClassEngagementCtrl">
				<div class="prevtext">{{name}}</div>
				<pie-chart data="data" options="options"></pie-chart>
			</div>

		</div>

		<div class="preview-chart2">
			<p style="text-align: center; font-size: 18px;"> Students Grades </p>
			<nvd3 options='options' data='data'></nvd3>
		</div>

		<a href="http://krispo.github.io/angular-nvd3/#/"> for more d3 charts </a>

		<div class="preview-chart2">
			<hc-chart options="chartOptions">Placeholder for generic chart</hc-chart>
		</div>
		<div class="preview-chart2">
			<hc-pie-chart title="Browser usage" data="pieData">Placeholder for pie chart</hc-pie-chart>
		</div>
		<highchart class="preview-chart2" config="chartConfig"></highchart>
		<highchart class="preview-chart2" config="chartConfig1"></highchart>
		<highchart class="preview-chart2" config="chartConfig2"></highchart>

		<div ng-controller="myctrl">
			<input ng-model="highchartsNG.title.text">
			<button ng-click="addSeries()">Add Series</button>
			<button ng-click="addPoints()">Add Points to Random Series</button>
			<button ng-click="removeRandomSeries()">Remove Random Series</button>
			<button ng-click="swapChartType()">Line/Bar</button>

			<highchart class="preview-chart2" id="chart1" config="highchartsNG"></highchart>
		</div>

		<a href="http://www.highcharts.com/demo"> for more highcharts charts </a>
		<!--
		<ion-tabs ng-show="User.role === Department Deen" class="tabs-positive tabs-icon-top" ng-controller="EducaperCtrl">

			<ion-tab title="Home" icon-on="ion-home is-active" icon-off="ion-home">
				<ion-content style="top: 50px" padding="true">
					<h3 class="welcome"> Hello {{User.name}} Welcome To Educaper First Mockup Demo </h3>
					<h3 class="tname"> you logged in as : {{User.role}}</h3>
					<p>
						Educaper Resarchers Team will help the students have a great learning Experince.
					</p>

					<p>for better diplaying experience we recommand using a tablet</p>

					<div>
						<div google-chart chart1="accuracy" style="{{accuracy.style}}">
						</div>
					</div>

				</ion-content>
			</ion-tab>

			<ion-tab title="D3 JS" icon-on="ion-stats-bars is-active" icon-off="ion-stats-bars">

				<ion-content style="position:relative ; top:50px" padding="true" scroll="true">

					<div class="row">

						<div class="preview-chart col" ng-controller="ClassClimateCtrl">
							<div class="prevtext">{{name}}</div>
							<pie-chart data="data" options="options"></pie-chart>
						</div>

						<div class="preview-chart col" ng-controller="pedeffectivenessCtrl">
							<div class="prevtext">{{name}}</div>
							<pie-chart data="data" options="options"></pie-chart>
						</div>

						<div class="preview-chart col" ng-controller="ClassEngagementCtrl">
							<div class="prevtext">{{name}}</div>
							<pie-chart data="data" options="options"></pie-chart>
						</div>

					</div>

					<div class="preview-chart2">
						<p style="text-align: center; font-size: 18px;"> Students Grades </p>
						<nvd3 options='options' data='data'></nvd3>
					</div>

					<a href="http://krispo.github.io/angular-nvd3/#/"> for more charts </a>

				</ion-content>

			</ion-tab>

			<ion-tab title="HighCharts" icon-on="ion-map is-active" icon-off="ion-map">

				<ion-content style="position:relative ; top:50px" padding="true" scroll="true">
					<div class="preview-chart2">
						<hc-chart options="chartOptions">Placeholder for generic chart</hc-chart>
					</div>
					<div class="preview-chart2">
						<hc-pie-chart title="Browser usage" data="pieData">Placeholder for pie chart</hc-pie-chart>
					</div>
					<highchart class="preview-chart2" config="chartConfig"></highchart>
					<highchart class="preview-chart2" config="chartConfig1"></highchart>
					<highchart class="preview-chart2" config="chartConfig2"></highchart>

					<div ng-controller="myctrl">
						<input ng-model="highchartsNG.title.text">
						<button ng-click="addSeries()">Add Series</button>
						<button ng-click="addPoints()">Add Points to Random Series</button>
						<button ng-click="removeRandomSeries()">Remove Random Series</button>
						<button ng-click="swapChartType()">Line/Bar</button>

						<highchart class="preview-chart2" id="chart1" config="highchartsNG"></highchart>
					</div>

					<a href="http://www.highcharts.com/demo"> for more charts </a>
				</ion-content>

			</ion-tab>

			<ion-tab title="Google chart" icon-on="ion-social-googleplus is-active" icon-off="ion-social-googleplus">
				<ion-content style="position:relative ; top:50px" padding="true" scroll="true">

					<div style="margin-top : 50px">
						<div google-chart chart1="sampleData" style="{{sampleData.style}}"></div>
					</div>

					<div style="margin-top : 50px">
						<div google-chart chart1="areachart" style="{{areachart.cssStyle}}"></div>
					</div>

					<div style="margin-top : 50px">
						<div google-chart chart1="chart" style="{{chart.cssStyle}}"></div>
					</div>

					<div style="margin-top : 50px">
						<div google-chart chart1="myChartObject" style="{{myChartObject.style}}"></div>
					</div>


					<div style="margin-top : 50px">
						<div google-chart chart1="Barchart " style="{{Barchart.style}}"></div>
					</div>

					<div style="margin-top : 50px">
						<div google-chart chart1="lineChart " style="{{lineChart.style}}"></div>
					</div>

					<div style="margin-top : 50px">
					</div>

					<a href="https://bouil.github.io/angular-google-chart/#/fat"> for more charts </a>

				</ion-content>

			</ion-tab>

			<ion-tab title="xcharts" icon-on="ion-connection-bars is-active" icon-off="ion-connection-bars" ng-controller="ctrl">

				<ion-content style="position:relative ; top:50px" padding="true" scroll="true">
					<div style="margin-top : 50px">
						<div xchart id="chart" style="{{chart.cssStyle}}" scale-x="ordinal" scale-y="linear" main="main" width="600" height="400"
							type="bar">
						</div>
					</div>

					<p>most of the codes were used 4 to 2 years ago no sign of updates </p>
					<a href="http://tenxer.github.io/xcharts/examples/"> for more charts </a>

				</ion-content>
			</ion-tab>

		</ion-tabs>


		<ion-tabs ng-show="User.role === Student" class="tabs-positive tabs-icon-top" ng-controller="EducaperCtrl">

			<ion-tab title="Home" icon-on="ion-home is-active" icon-off="ion-home">

			</ion-tab>

			<ion-tab title="Instructors" icon-on="ion-person is-active" icon-off="ion-person">



			</ion-tab>

			<ion-tab title="HighCharts" icon-on="ion-map is-active" icon-off="ion-map">



			</ion-tab>

			<ion-tab title="Google chart" icon-on="ion-social-googleplus is-active" icon-off="ion-social-googleplus">


			</ion-tab>

			<ion-tab title="xcharts" icon-on="ion-connection-bars is-active" icon-off="ion-connection-bars" ng-controller="ctrl">


			</ion-tab>

		</ion-tabs>-->
	</ion-content>



</ion-view>