<ion-side-menus enable-menu-with-back-views="true">

	<ion-side-menu-content>

		<ion-nav-bar class="bar-content">

			<ion-nav-back-button>
			</ion-nav-back-button>
			<ion-nav-buttons side="left">
				<button menu-toggle="left" class="button button-icon icon ion-navicon">
				</button>

			</ion-nav-buttons>

		</ion-nav-bar>

		<ion-nav-view name="site">
		</ion-nav-view>

	</ion-side-menu-content>

	<ion-side-menu style="background: #293043" side="left" ng-controller="sideMenuCtrl">

		<div style="background: #293043" class="has-header bar-side-menu">
			<div class="item item-photo">
				<img src={{User.thumb}} alt="">
				<h2 class="user-name">{{User.name}}</h2>
				<div class="user-role">{{User.role}}</div>
			</div>
		</div>

		<ion-content padding="true" style="top: 70px">

			<div class="list dark">

				<div ng-show="EducaperMode">

					<div ng-show="EducaperExpertMode">

						<a class="mitem item-icon-left " href=" " ng-click=" ShowDep()">
							<i class="icon ion-person"></i> Instructors
						</a>

						<a menu-close class="mitem item-accordion" ng-click="goto(item)" 
						ng-repeat="item in Departments" ui-sref="site.teachers">
							{{item}}
						</a>

						<a class="mitem item-icon-left" ng-click="ShowCourses()">
							<i class="icon ion-university"></i>Courses
						</a>

						<a menu-close class=" mitem item-accordion" ng-repeat="course in Courses"
						 class="icon ion-unlocked" ui-sref="site.teachers"
							menu-close>-{{course.name}} 
						</a>

						<a class="mitem item-icon-left" href=" " ng-click="showAlert()">
							<i class="icon ion-university"></i>General Analitics
						</a>

					</div>

					<div ng-show="EducaperStudentMode">

						<a class="mitem item-icon-left" href=" " ng-click="ShowCourses()">
							<i class="icon ion-university"></i>Courses Feedbacks
						</a>

						<a menu-close class="mitem item-accordion" ng-repeat="course in Courses" 
							class="icon ion-unlocked" ng-click="showAlert()" "
							menu-close>- {{course.name}} 
						</a>
					</div>

					<div ng-show="EducaperTeacherMode ">

						<a class="mitem item-icon-left " href = " " ng-click="ShowCourses() ">
							<i class="icon ion-university "></i>My Courses
						</a>
						<a menu-close class="mitem item-accordion " href =" " ng-repeat="course in Courses " 
						 class="icon ion-unlocked " ui-sref="site.teacher-charts({ID : course.id}) "
							menu-close>- {{course.name}}
						</a>

						<a menu-close class="mitem item-accordion " href =" " class="icon ion-unlocked " 
						ng-click="showAlert() " menu-close> General Feedbacks
						</a>

					</div>

					<div ng-show="EducaperDepartment ">

					</div>

					<a class="mitem item-icon-left " href = " " ng-click="toggleEducaper() ">
						<i class="icon ion-university "></i> Back To LMS
					</a>
				</div>

				<div ng-show="!EducaperMode ">

					<a menu-close class="mitem item-icon-left " ui-sref="site.index ">
						<i class="icon ion-ionic "></i>My courses</a>

					<a menu-close class="mitem item-icon-left " ui-sref="site.messages ">
						<i class="icon ion-chatbox "></i>Messages
						<span class="badge badge-positive ">6</span></a>

					<a menu-close class="mitem item-icon-left " ui-sref="site.notifications ">
						<i class="icon ion-ios7-bell "></i>Notifications
						<span class="badge badge-royal ">2</span>
					</a>

					<a menu-close class="mitem item-icon-left " ui-sref="site.files ">
						<i class="icon ion-folder "></i>My files</a>

					<div class="item item-divider "></div>

					<a menu-close class="mitem item-icon-left " ui-sref="site.events ">
						<i class="icon ion-calendar "></i>Calendar events
					</a>

					<a menu-close class="mitem item-icon-left " ui-sref="site.preferences ">
						<i class="icon ion-gear-a "></i>Preferences</a>

					<a menu-close class="mitem item-icon-left " href="http://educaper.com " target="_blank ">
						<i class="icon ion-earth "></i>Website</a>

					<a menu-close class="mitem item-icon-left " href="http://docs.moodle.org/27/en/Moodle_Mobile " target="_blank ">
						<i class="icon ion-help-buoy "></i>Help</a>

					<a menu-close class="mitem item-icon-left " ui-sref="site.settings ">
						<i class="icon ion-gear-b ">
						</i>App settings</a>

					<a menu-close class="mitem item-icon-left " href=" " ng-click="toggleEducaper() ">
							<span class="badge badge-assertive ">4</span>
							<i class="icon " >
								<img src="img/icon.ico " style="width:34px;height:34px "  >
							</i>
							Educaper
						</a>

					<a menu-close class="mitem item-icon-left " href=" " ng-click="logout() ">
							<i class="icon icon-assertive ion-log-out "></i>Logout
					</a>
				</div>
			</div>


				<!-- <a menu-close class="item item-icon-left " ui-sref="site.eval "><i class="icon ion-home "></i>Evaluation</a> -->
				<!--ng-click="toggleEducaper() "-->

				<!--  <a menu-close class="item item-icon-left " ui-sref="site.index "><i class="icon ion-ionic "></i>My courses</a>

                 <a menu-close class="item item-icon-left " ui-sref="site.notifications "><i
                                         class="icon ion-ios7-bell "></i>Notifications <span class="badge badge-positive ">2</span></a>


                                 <a menu-close class="item item-icon-left " ui-sref="site.events "><i class="icon ion-calendar "></i>Calendar
                                     events</a>

                                

                                 <a menu-close class="item item-icon-left " ui-sref="site.preferences "><i class="icon
							ion-gear-a "></i>Preferences</a>

                                 <a menu-close class="item item-icon-left " href="http://educaper.com " target="_blank ">
                                     <i class="icon ion-earth "></i>Website</a>

                                 <a menu-close class="item item-icon-left " href="http://docs.moodle.org/27/en/Moodle_Mobile "
                                    target="_blank ">
                                     <i class="icon ion-help-buoy "></i>Help</a>
                                 <div class="item item-divider "></div>

                                 <a menu-close class="item item-icon-left " ui-sref="site.settings "><i class="icon ion-gear-b "></i>App
                                     settings</a>

                                 <a menu-close class="item item-icon-left " ng-click="logout() "><i class="icon ion-log-out "></i>Logout</a>

                             </div>

                             <ion-refresher pulling-text="Pull to invalidate caches " on-refresh="invalidateCaches()
							" refreshing-icon="ion-loading-c "></ion-refresher>
                 -->


				<!--
			<ion-list ng-show="!EducaperMode ">

				<i menu-close class="imad " ui-sref="site.index ">
					My courses
				</i>

				<i menu-close class="imad " ui-sref="site.notifications ">
					 Notifications 
					<span class="badge badge-positive ">2</span>
				</i>

				<i menu-close class="imad " ui-sref="site.messages ">
					Messages
					<span class="badge badge-positive ">6</span>
				</i>

				<i menu-close class="imad " ui-sref="site.events ">
					Calendar events
				</i>

				<i menu-close class="imad " ui-sref="site.files ">
					My files
				</i>

				<div class="item item-divider "></div>

				<i menu-close class="imad " ui-sref="site.preferences ">
					Preferences
				</i>

				<i menu-close class="imad " href="http://educaper.com " target="_blank ">
					Website</a>

				<i menu-close class="imad " href="http://docs.moodle.org/27/en/Moodle_Mobile " target="_blank ">
					Help
				</i>



				<i menu-close class="imad " ui-sref="site.settings ">
					App settings
				</i>

				<i ng-show="!EducaperMode " 
				   ng-click="EducaperMode=!EducaperMode " 
				   style="padding: 16px;display:block; background:#b23fe3 ">
					<span class="badge badge-assertive ">4</span> 
					Educaper
				</i>

				<i menu-close 
				   style="padding: 16px;display:block; background:red " 
				   ng-click="logout() ">
					<i class="icon ion-log-out "></i>Logout
				</i>
			</ion-list>
-->


				<!--

			<ion-list ng-show="EducaperMode ">

				<i class="imad " ng-click=" ShowDep() ">
					Teachers 
				</i>

				<ion-item menu-close class="item-accordion " ng-click="goto(item) " ng-repeat="item in Departments " ui-sref="site.teachers ">
					{{item}}
				</ion-item>

				<i class="imad " ng-click="ShowCourses() ">
					My courses
				</i>

				<ion-item menu-close class="item-accordion " ng-repeat="course in Courses " class="icon ion-unlocked " ui-sref="site.teachers ">
					{{course}}
				</ion-item>


				
					<a class="item item-icon-left " style="background:#b23fe3 " ng-click=" ShowMajors() "><i class="icon ion-person "></i>Students</a>

					<ion-item menu-close class="item-accordion " ng-click="goto(item) " ng-repeat="item in Majors " ui-sref="site.students ">{{item}} >>
					</ion-item>

					<a class="item item-icon-left " style="background:#b23fe3 " ng-click="ShowCourses() "><i class="icon ion-university "></i>My courses</a>

					<ion-item menu-close class="item-accordion " ng-repeat="course in Courses " class="icon ion-unlocked " ui-sref="site.teachers " menu-close>{{course}} >>
						<a menu-close ng-if="clicked "></a>
					</ion-item>

					<a menu-close class="item item-icon-left " style="background:#b23fe3 " ui-sref="site.notifications ">
						<i class="icon ion-ios7-bell "></i>Notifications
						<span class="badge badge-royal ">2</span>
					</a>



				<a menu-close class="item item-icon-left " style="background:#b23fe3 " ui-sref="site.events "><i class="icon ion-calendar "></i>Calendar
                                     events</a>
				<a menu-close class="item item-icon-left " style="background:#b23fe3 " ui-sref="site.preferences "><i class="icon ion-gear-a "></i>Preferences</a>


				<i style="display:block; background :#b23fe3 " ng-click="EducaperMode=!EducaperMode ">
					<i class="icon ion-log-out "></i> back to LMS
				</i>

			</ion-list>
-->


				<!--
			<ion-refresher pulling-text="Pull to invalidate caches " on-refresh="invalidateCaches() " refreshing-icon="ion-loading-c "></ion-refresher>
			</div>
-->

		</ion-content>

	</ion-side-menu>

</ion-side-menus>