<ion-modal-view class="home">
    <ion-header-bar class="bar-calm">

        <!-- style attribute for Android -->
        <h1 class="title" style="text-align:center!important;">Reset your password</h1>

        <!-- Button left -->
        <button class="button button-icon button-clear button-light ion-ios-arrow-thin-left" ng-click="closeForget()"></button>

        <!-- Button right [empty] -->

        <button class="button button-icon button-clear button-light"></button>
    </ion-header-bar>

    <ion-content scroll="false">
        <div class="list">
            <label class="item item-input">
        <i class="icon ion-ios-email-outline placeholder-icon-large"></i>
        <input type="text" placeholder="Mail" ng-model="mail">
      </label>
        </div>

        <p class="calm text-center">
            Did you forget your password ?<br/> Alright just type in your email !
        </p>
        <div class="validation-center">
            <button class="button button-balanced" ng-click="forgot(mail)">
      Reset
      </button>
        </div>

        <!--</br>
        <img class="image " src="img/logo.png">-->

    </ion-content>
</ion-modal-view>